# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
work_RBTact/RabbitAction/Debug/
*.log
work_RBTact/RabbitAction/Release/
work_RBTact/.vs/
work_RBTact/RabbitAction/Log.txt
work_RBTact/RabbitAction/x64/
work_RBTact/x64/